<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Complete</title>
</head>
<body>
<a th:href = "@{/anketa/}"><label>Анкета</label></a>
<a th:href = "@{/anketa/listOfCompleted/}"><label>Заполненные</label></a>
<a th:href = "@{/anketa/complete}"><label>Пройти опрос</label></a>


<form action="#" th:action="@{/anketa/complete/addCompletedForm}" method="post">

    <input type="text" name="personName"/>

    <table>
        <tr th:each="q : ${questions}">
            <td>
                <span th:text="${q.text}"></span>
                <br>

                <div th:switch="${q.type}">

                <div th:case="'t1'">
                <textarea name="answer"></textarea>
                </div>

                <div th:case="'t2'">
                    <input type="radio" value="Да" name="answer">Да</input>
                    <input type="radio" value="Нет" name="answer">Нет</input>
                </div>

                <div th:case="'t3'">
                    <input type="number" name="answer"/>
                </div>
                </div>
            </td>
        </tr>
    </table>

    <input type="submit" value="Сохранить">
</form>

</body>
</html>